.posts {
    padding: 20px;
}

.post {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

h2 {
    margin-top: 0;
}


/* TODO: format this whole thing, make it look nice in some boxes/containers